@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body{
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(234, 29%, 20%);
    height: 100vh;
    font-size: 16px;
}
.main-card{
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(234, 29%, 20%);
    border-radius: 30px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.text-section{
    padding: 50px;
}
#headline{
    font-size: 55px;
    display: flex;
    justify-content: start;
    color: hsl(234, 29%, 20%);
    font-weight: bold;
}
.description{
    font-size: 16px;
    margin-bottom: 30px;    
    
}
.info-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 30px;
}
.list-icon {
    margin-right: 10px;
}
.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#email-label{
    font-size: 12px;
    margin-bottom: 10px;
} 
#email-input{
    width: 100%;
    padding: 12px 15px;
    margin-bottom:20px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%,58%);
    box-sizing: border-box;
}
.email-block{
    width: 100%;
    gap: 10px;
    margin-top: 20px;
}
.subscribe-button{
    width: 100%;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}